//
// Include the necessary resources
//
#include <winver.h>
#include <ntdef.h>
#include "fastfetch_config.h"

#ifdef RC_INVOKED

//
// Set up debug information
//
#if DEBUG
#define VER_DEBUG VS_FF_DEBUG
#else
#define VER_DEBUG 0
#endif

// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
FILEVERSION             FASTFETCH_PROJECT_VERSION_MAJOR,FASTFETCH_PROJECT_VERSION_MINOR,FASTFETCH_PROJECT_VERSION_PATCH,FASTFETCH_PROJECT_VERSION_TWEAK_NUM
PRODUCTVERSION          FASTFETCH_PROJECT_VERSION_MAJOR,FASTFETCH_PROJECT_VERSION_MINOR,FASTFETCH_PROJECT_VERSION_PATCH,FASTFETCH_PROJECT_VERSION_TWEAK_NUM
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               (VER_DEBUG|VS_FF_PRERELEASE)
FILEOS                  VOS_NT
FILETYPE                VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "Comments",         FASTFETCH_PROJECT_HOMEPAGE_URL
			VALUE "FileDescription",  FASTFETCH_TARGET_BINARY_NAME " - " FASTFETCH_PROJECT_DESCRIPTION
			VALUE "FileVersion",      FASTFETCH_PROJECT_VERSION FASTFETCH_PROJECT_VERSION_TWEAK
			VALUE "InternalName",     FASTFETCH_TARGET_BINARY_NAME ".exe"
			VALUE "LegalCopyright",   FASTFETCH_PROJECT_LICENSE
			VALUE "OriginalFilename", FASTFETCH_TARGET_BINARY_NAME ".exe"
			VALUE "ProductName",      FASTFETCH_PROJECT_NAME
			VALUE "ProductVersion",   FASTFETCH_PROJECT_VERSION FASTFETCH_PROJECT_VERSION_TWEAK
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1252
	END
END
#endif
